---
title: Recipes
layout: base.njk
---

{% include "postlist.njk" %}

<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Recipes</h1><br>
      	<h2>Makanan</h2>
      	<ul>
			<li><a href="https://www.palmia.co.id/resep/hidangan-utama/kepiting-merah-saus-padang" target="blank"> Kepiting Saus Padang</a> </li>
			<li><a href="https://selerasa.com/resep-masakan-soto-daging-santan-sapi-betawi-asli-yang-enak-gurih-dan-lezat" target="blank"> Soto Betawi</a></li>
			<li><a href="https://resepkoki.id/resep/resep-gado-gado-betawi/" target="blank"> Gado-Gado</a></li>
			<li><a href="https://lestariweb.com/Indonesia/SateAyamMadura.php" target="blank"> Sate Madura</a></li>
		<h2>Minuman</h2>
		<ul type="square">
			<li><a href="https://cantik.tempo.co/read/779140/cara-membuat-frappuccino-oreo/full&view=ok">Oreo Frappucino</a></li>
			<li><a href="https://tastynesia.com/dalgona-coffee/"> Dalgona Coffee</a></li>
			<li><a href="https://resepkoki.id/resep/resep-es-teler/"> Es Teller</a></li>
			<li><a href="https://craftlog.com/id/memasak/ext-resep-es-rujak-serut-buah-3wstd"> Es Rujak Serut</a></li>	
		</ul>
		<h2>Dessert</h2>
		<ul>
			<li><a href="http://www.dapurkobe.co.id/chocolate-lava-cake"> Chocolate Lava Cake</a></li>
			<li><a href="https://www.mytasteid.com/r/vanilla-panna-cotta-pudding-recipe-30123345.html"> Panna Cotta</a></li>
			<li><a href="https://selerasa.com/koleksi-resep-dessert-aneka-mousse-yang-lembut-dan-enak"> Blueberry Oreo Mouse</a></li>
			<li><a href="https://caramembuat.id/cara-membuat-pancake/"> Pancake</a></li>			</ul>
		</ul>
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="/w3images/tablesetting.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>